<table class="table">
  <thead>
    {% for form in formset|slice:":1" %}
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ form.name.label_tag }}</th>
        <th scope="col">{{ form.description.label_tag }}</th>
        <th scope="col">{{ form.quantity.label_tag }}</th>
        <th scope="col">{{ form.unit.label_tag }}</th>
        <th scope="col">{{ form.price.label_tag }}</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    {% endfor %}
  </thead>
  <tbody>
    <tr id="item-row">
      <th scope="row"></th>
      <td>{{ formset.form.name }}</td>
      <td>{{ formset.form.description }}</td>
      <td>{{ formset.form.quantity }}</td>
      <td>{{ formset.form.unit }}</td>
      <td>{{ formset.form.price }}</td>
      <td><a class="inline-deletelink">Delete</a></td>
      <td><a class="inline-editlink">Edit</a></td>
    </tr>
  </tbody>
  <button hx-get="{% url 'add_lic_item' %}" hx-trigger="click" hx-target="#item-row" hx-swap='afterend'>Add more</button>
</table>
