<table class="table">
  <thead>
    {% for form in formset|slice:":1" %}
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ form.name.label_tag }}</th>
        <th scope="col">{{ form.description.label_tag }}</th>
        <th scope="col">{{ form.quantity.label_tag }}</th>
        <th scope="col">{{ form.unit.label_tag }}</th>
        <th scope="col">{{ form.price.label_tag }}</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    {% endfor %}
  </thead>
  <tbody>
    {% for form in formset %}
      <tr>
        <th scope="row"></th>
        <td>{{ form.name }}</td>
        <td>{{ form.description }}</td>
        <td>{{ form.quantity }}</td>
        <td>{{ form.unit }}</td>
        <td>{{ form.price }}</td>
        <td><a class="inline-deletelink">Delete</a></td>
        <td><a class="inline-editlink">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
