{% extends 'base.html' %}
{% block content %}
<div class="p-4 mt-14">
  <div class="flex flex-wrap">
    <a href="{% url 'licitaciones' %}">
      <button
        class="flex flex-wrap p-2">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12l4-4m-4 4 4 4" />
        </svg>
        <span class="ms-1 hover:border-b-1 hover:border-black">Volver atrás</span>
      </button>
    </a>
  </div>
<!-- TOAST -->
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      {% include 'partials/toast.html' %}
    {% endif %}
  {% endfor %}
{% endif %}


  <h1 class="my-4 text-3xl font-extrabold dark:text-white">Nueva Licitacion</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- 1ST ROW -->
    <div class="flex flex-row">
      <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>
      <div class="basis-1/4 mx-2 block text-md font-medium leading-6 text-gray-900">
        {{ form.client.label_tag }}
        {{ form.client }}
      </div>
      <div class="basis-1/4 block text-md font-medium leading-6 text-gray-900">
        {{ form.status.label_tag }}
        {{ form.status }}
      </div>
    </div>
    <!-- 2ND ROW -->
    <div class="flex flex-row mt-10 gap-4">
      <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
        {{ form.obs.label_tag }}
        {{ form.obs }}
      </div>
      <div class="basis-1/4 mb-4 block text-md font-medium leading-6 text-gray-900">
        {{ form.city.label_tag }}
        {{ form.city }}
        {{ form.category.label_tag }}
        {{ form.category }}
      </div>
      <div class="basis-1/4 block text-md font-medium leading-6 text-gray-900">
        {{ form.currency.label_tag }}
        {{ form.currency }}
        {{ form.payment_method.label_tag }}
        {{ form.payment_method }}
      </div>
    </div>
    <!-- 3RD ROW -->
    <div class="flex flex-row my-10">
      <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
        {{ form.total_sum_lic.label_tag }}
        {{ form.total_sum_lic }}
      </div>
      <div class="basis-1/2 mx-2 block text-md font-medium leading-6 text-gray-900">
        {{ form.delivery_time.label_tag }}
        {{ form.delivery_time }}
      </div>
      <div class="basis-1/4 mx-2 block text-md font-medium leading-6 text-gray-900">
        {{ form.close_date.label_tag }}
        {{ form.close_date }}
          {{ form.close_date.errors }}
      </div>
    </div>
    <div class="m-4">
      <h2 class="mb-4 text-3xl font-extrabold dark:text-white">Items</h2>
      {{ formset.management_form }}
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">{{ formset.form.name.label_tag }}</th>
            <th scope="col" class="px-6 py-3">{{ formset.form.description.label_tag }}</th>
            <th scope="col" class="px-6 py-3">{{ formset.form.unit.label_tag }}</th>
            <th scope="col" class="px-6 py-3">{{ formset.form.price.label_tag }}</th>
            <th scope="col" class="px-6 py-3">{{ formset.form.quantity.label_tag }}</th>
            <th scope="col" class="px-6 py-3">{{ formset.form.note.label_tag }}</th>
            <th scope="col" class="px-6 py-3">Actions</th>
          </tr>
        </thead>
        <tbody id="items">
          {% for form in formset %}
            {% include 'partials/item_new_form.html' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button type="button"
      class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-sky-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
      id="add-item">Add more items</button>
    {% if licitacion %}
    <button type="submit">Save changes</button>
    {% else %}
    <button type="submit">Create</button>
    {% endif %}
  </form>
</div>
<script>
  let itemForm = document.querySelectorAll(".item-form")
  let container = document.querySelector("#lic-form")
  let items = document.querySelector("#items")
  let addButton = document.querySelector("#add-item")
  let totalForms = document.querySelector("#id_licitacionitem_set-TOTAL_FORMS")

  let formNum = itemForm.length - 1 // Get the number of the last form on the page with zero-based indexing
  addButton.addEventListener('click', addForm)

  function addForm(e) {
    e.preventDefault()
    let formLength = itemForm.length
    let newForm = itemForm[formLength - 1].cloneNode(true)
    let formRegex = RegExp(`licitacionitem_set-(\\d){1}-`, 'g')

    formNum++ //Increment the form number
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `licitacionitem_set-${formNum}-`) //Update the new form to have the correct form number
    items.insertAdjacentElement("beforeend", newForm) // Insert the new form at the end of the list of forms

    totalForms.setAttribute('value', `${formNum + 1}`) //Increment the number of total forms in the management form
  }
</script>
{% endblock %}
