<table class="w-full table-fixed text-sm text-left rtl:text-right text-gray-500">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3">
        Titulo
      </th>
      <th scope="col" class="px-6 py-3">
        Status
      </th>
      <th scope="col" class="px-6 py-3">
        Usuario
      </th>
      <th scope="col" class="px-6 py-3">
        Apertura
      </th>
      <th scope="col" class="px-6 py-3">
        Cierre
      </th>
      <th scope="col" class="px-6 py-3">
        Accion
      </th>
    </tr>
  </thead>
  <tbody>
    {% for licitacion in licitaciones %}
      <tr class="bg-white border-b hover:bg-gray-50">
        <th scope="row" class="px-4 py-4 font-medium text-gray-900 ">
          <button type="button" class="font-medium text-balance text-left text-gray-600 hover:underline hover:text-gray-900">{{ licitacion.title|upper }}</button>
        </th>
        <td class="px-6 py-4">
              {% if licitacion.status == 'OPEN' %}
              <span
                class="inline-flex items-center bg-emerald-200 text-black text-xs font-medium px-2.5 py-0.5 rounded-full">
                <span class="w-2 h-2 me-1 bg-emerald-400 rounded-full"></span>
                ABIERTA
              </span>
              {% elif licitacion.status == 'CLOSED' %}
              <span
                class="inline-flex items-center bg-yellow-100 text-yellow-800 text-xs font-medium px-2.5 py-0.5 rounded-full">
                <span class="w-2 h-2 me-1 bg-yellow-500 rounded-full"></span>
                CERRADA
              </span>
              {% else %}
              <span
                class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full">
                <span class="w-2 h-2 me-1 bg-red-500 rounded-full"></span>
                FINALIZADA
              </span>
              {% endif %}
        </td>
        <td class="max-w-52 px-6 py-4">
          <a href="#" class="font-medium text-blue-600">John Smith</a>
        </td>
        <td class="px-6 py-4">
          {{ licitacion.start_date }}
        </td>
        <td class="px-6 py-4">
          {{ licitacion.close_date }}
        </td>
        <td class="px-6 py-4">
          <a href="{% url 'update_licitacion' lic_id=licitacion.id %}" class="font-medium text-blue-600 hover:underline">Edit</a>
          <a href="#" class="font-medium text-blue-600 hover:underline">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
