<div class="relative" id="forms-container">
  <form class="mt-4" enctype="multipart/form-data"
  method="POST" action="{% url 'create_licitacion' %}">
  {% csrf_token %}
  <div>
    <div class="border-b mb-8 pb-4">
      <h1 class="text-xl font-semibold">Detalles Generales</h1>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>
      <div class="basis-1/2 ml-8 block text-md font-medium leading-6 text-gray-900 ">
        {{ form.client.label_tag }}
        {{ form.client }}
      </div>
    </div>
    <div class="flex flex-row mt-10 w-full">
      <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
        {{ form.obs.label_tag }}
        {{ form.obs }}
      </div>
      <div class="basis-1/2 ml-8 block text-md font-medium leading-6 text-gray-900">
        {{ form.status.label_tag }}
        {{ form.status }}
        {{ form.city.label_tag }}
        {{ form.city }}
      </div>
    </div>
    <div class="basis-1/6 block text-md font-medium leading-6 text-gray-900">
      {{ form.category.label_tag }}
      {{ form.category }}
    </div>
    <div class="basis-1/4 block text-md font-medium leading-6 text-gray-900">
      {{ form.currency.label_tag }}
      {{ form.currency }}
      {{ form.payment_method.label_tag }}
      {{ form.payment_method }}
    </div>
    <div class="flex flex-row my-10">
      <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
        {{ form.total_sum_lic.label_tag }}
        {{ form.total_sum_lic }}
      </div>
      <div class="basis-1/2 mx-2 block text-md font-medium leading-6 text-gray-900">
        {{ form.delivery_time.label_tag }}
        {{ form.delivery_time }}
      </div>
      <div class="basis-1/4 mx-2 block text-md font-medium leading-6 text-gray-900">
        {{ form.close_date.label_tag }}
        {{ form.close_date }}
        {{ form.close_date.errors }}
      </div>
    </div>
  </div>
  <div id="items" class="mb-4">
    {{ formset.management_form }}
    {% for form_item in formset %}
      {% for hidden in form_item.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <div id="item-form" class="border p-4 mb-4">
        <div class="flex flex-row">
          <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
            {{ form_item.name.label_tag }}
            {{ form_item.name }}
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
            {{ form_item.description.label_tag }}
            {{ form_item.description }}
          </div>
          <div class="basis-1/2 ml-8 block text-md font-medium leading-6 text-gray-900">
            {{ form_item.unit.label_tag }}
            {{ form_item.unit }}
            {{ form_item.price.label_tag }}
            {{ form_item.price }}
            {{ form_item.quantity.label_tag }}
            {{ form_item.quantity }}
          </div>
        </div>
        <div class="flex flex-row">
          <div class="block text-md font-medium leading-6 text-gray-900">
            {{ form_item.note.label_tag }}
            {{ form_item.note }}
          </div>
        </div>
        <div class="flex flex-row">
          <div class="block text-md font-medium leading-6 text-gray-900">
            <input name="id_licitacionitem_set-0-images" type="file" multiple>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="flex justify-between sticky bottom-0 left-0 bg-white p-4">
    <div class="flex justify-end">
      <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 text-center inline-flex items-center" type="button" id="add-item">
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
        </svg>
        Add more items
      </button>
      <button type="submit" class="text-white mt-5 sm:mt-0 bg-blue-500 hover:bg-white hover:text-blue-700 hover:border hover:border-blue-500 font-medium rounded-lg text-sm px-10 py-2.5 text-center me-2 mb-2">Crear Licitacion</button>
    </div>
  </div>
  </form>
</div>
