<div class="relative" id="forms-container">
  <form class="bg-white mt-5 px-64" hx-post="{{ url }}" hx-target="this" hx-swap="outerHTML" hx-replace-url="true"
  @submit.prevent="step1 =! step1; step2 =! step2">
    <div class="border-b mb-8 pb-4">
      <span class="text-sm font-semibold text-gray-400">Paso 1</span>
      <h1 class="text-xl font-semibold">Detalles Generales</h1>
    </div>
    {% csrf_token %}
    {% if formset %}
      <div hidden>
        {{ formset }}
      </div>
    {% endif %}
    <input type="hidden" name="form_id" value="info">
    <div class="flex flex-row">
      <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>
      <div class="basis-1/2 ml-8 block text-md font-medium leading-6 text-gray-900 ">
        {{ form.client.label_tag }}
        {{ form.client }}
      </div>
    </div>
    <div class="flex flex-row mt-10 w-full">
      <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
        {{ form.obs.label_tag }}
        {{ form.obs }}
      </div>
      <div class="basis-1/2 ml-8 block text-md font-medium leading-6 text-gray-900">
        {{ form.status.label_tag }}
        {{ form.status }}
        {{ form.city.label_tag }}
        {{ form.city }}
      </div>
    </div>
    <div class="basis-1/6 block text-md font-medium leading-6 text-gray-900">
      {{ form.category.label_tag }}
      {{ form.category }}
    </div>
    <div class="basis-1/4 block text-md font-medium leading-6 text-gray-900">
      {{ form.currency.label_tag }}
      {{ form.currency }}
      {{ form.payment_method.label_tag }}
      {{ form.payment_method }}
    </div>
    <div class="flex flex-row my-10">
      <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
        {{ form.total_sum_lic.label_tag }}
        {{ form.total_sum_lic }}
      </div>
      <div class="basis-1/2 mx-2 block text-md font-medium leading-6 text-gray-900">
        {{ form.delivery_time.label_tag }}
        {{ form.delivery_time }}
      </div>
      <div class="basis-1/4 mx-2 block text-md font-medium leading-6 text-gray-900">
        {{ form.close_date.label_tag }}
        {{ form.close_date }}
        {{ form.close_date.errors }}
      </div>
    </div>
    <div class="flex sticky bottom-0 left-0 justify-end bg-white p-4">
      {% if licitacion %}
        <button
        type="submit"
        class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-sky-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
        >Save changes</button>
      {% else %}
        <button
        type="submit"
        class="text-white mt-5 sm:mt-0 bg-blue-500 hover:bg-white hover:text-blue-700 hover:border hover:border-blue-500 font-medium rounded-lg text-sm px-10 py-2.5 text-center me-2 mb-2"
        >Siguiente</button>
      {% endif %}
    </div>
  </form>
</div>
