{% load static %}
<form
class="mt-4"
action="{% url 'save_licitacion' %}"
method="POST"
enctype="multipart/form-data">
  <div class="border-b mb-8 pb-4">
      <h1 class="text-xl font-semibold">Items a Solicitar</h1>
  </div>
  {% csrf_token %}
  {% if form %}
    <div hidden>
      {{ form }}
    </div>
  {% endif %}
  <input type="hidden" name="form_id" value="items">
  <div id="items" class="mb-4">
    {{ formset.management_form }}
    {% for form_item in formset %}
      {% for hidden in form_item.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <div id="item-form" class="border p-4 mb-4">
        <div class="flex flex-row">
          <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
            {{ form_item.name.label_tag }}
            {{ form_item.name }}
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/2 block text-md font-medium leading-6 text-gray-900">
            {{ form_item.description.label_tag }}
            {{ form_item.description }}
          </div>
          <div class="basis-1/2 ml-8 block text-md font-medium leading-6 text-gray-900">
            {{ form_item.unit.label_tag }}
            {{ form_item.unit }}
            {{ form_item.price.label_tag }}
            {{ form_item.price }}
            {{ form_item.quantity.label_tag }}
            {{ form_item.quantity }}
          </div>
        </div>
        <div class="flex flex-row">
          <div class="block text-md font-medium leading-6 text-gray-900">
            {{ form_item.note.label_tag }}
            {{ form_item.note }}
          </div>
          <div class="block text-md font-medium leading-6 text-gray-900">
            {{ form_item.photos.label_tag }}
            {{ form_item.photos }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</form>
