<!-- RiffMates/templates/base.html -->
{% load compress %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>
    {% block title %}Licitapp{% endblock title %}
  </title>
  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}">
  {% endcompress %}
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
</head>

{% include 'partials/sidebar.html' %}
<body>
  <div class="p-4 sm:ml-64">
    {% block content %}
    {% endblock content %}
  </div>
  <script src="{% static 'sidebar/js/sidebar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/path-params.js"></script>
</body>
</html>
