{% extends 'base.html' %}
{% block content %}
<style>
  input:valid {
    border-color: green;
  }
  input:invalid {
    border-color: rgb(128, 0, 0);
  }
</style>

<h1>{{ licitacion.title }}</h1>
<div class="bg-light">
  <h2>Generales</h2>
  <form id="lic-form" class="m-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        {{ form.title.label_tag }}
        {{ form.title }}
        {% if form.title.errors %}
          <div class="invalid-feedback">
            not good!
          </div>
        {% endif %}
        <div class="invalid-feedback">
          Please select a Title
        </div>
      </div>
      <div class="col-md-6">
        {{ form.client.label_tag }}
        {{ form.client }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{ form.obs }}
        {{ form.status.label_tag }}
        {{ form.status }}
        {{ form.total_sum_lic.label_tag }}
        {{ form.total_sum_lic }}
      </div>
      <div class="col-md-6">
        <div id="field-{{form.currency.name}}">
          {{ form.currency.label_tag }}
          {{ form.currency }}
        </div>
        <div id="field-{{form.category.name}}">
          {{ form.category.label_tag }}
          {{ form.category }}
        </div>
        <div id="field-{{form.close_date.name}}">
          {{ form.close_date.label_tag }}
          {{ form.close_date }}
          <small class="text-danger">
            {{ form.close_date.errors}}
          </small>
        </div>
        <div id="field-{{form.payment_method.name}}">
          {{ form.payment_method.label_tag }}
          {{ form.payment_method }}
        </div>
        <div id="field-{{form.delivery_time.name}}">
          {{ form.delivery_time.label_tag }}
          {{ form.delivery_time }}
        </div>
      </div>
    </div>
    {{ formset.management_form }}
    {% for form in formset %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% include 'partials/add_lic_item.html' %}
    {% endfor %}
    <button id="add-item">Add more</button>
    <button class="btn btn-success" type="submit" id="submit-all">Send</button>
  </form>
</div>

<script>
  let itemForm = document.querySelectorAll(".item-form")
  let container = document.querySelector("#lic-form")
  let addButton = document.querySelector("#add-item")
  let totalForms = document.querySelector("#id_licitacionitem_set-TOTAL_FORMS")

  let formNum = itemForm.length - 1 // Get the number of the last form on the page with zero-based indexing
  addButton.addEventListener('click', addForm)

  function addForm(e) {
    e.preventDefault()
    let formLength = itemForm.length
    let newForm = itemForm[formLength-1].cloneNode(true)
    let formRegex = RegExp(`licitacionitem_set-(\\d){1}-`, 'g')

    formNum++ //Increment the form number
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `licitacionitem_set-${formNum}-`) //Update the new form to have the correct form number
    container.insertBefore(newForm, addButton) // Insert the new form at the end of the list of forms

    totalForms.setAttribute('value', `${formNum + 1}`) //Increment the number of total forms in the management form
  }
</script>
{% endblock content %}
