{% extends 'base.html' %}
{% block content %}
<div id="new_lic" class="p-4 mt-14">
  <a href="{% url 'licitaciones' %}">
    <button
      class="flex flex-wrap p-2">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
        height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5 12h14M5 12l4-4m-4 4 4 4" />
      </svg>
      <span class="ms-1 hover:border-b-1 hover:border-black">Volver atrás</span>
    </button>
  </a>
  <div id="form-container">
    {% include 'partials/form_lic.html' %}
  </div>
</div>
<script>
  let itemForm = document.querySelectorAll(".item-form")
  let items = document.querySelector("#items")
  let addButton = document.querySelector("#add-item")
  let totalForms = document.querySelector("#id_licitacionitem_set-TOTAL_FORMS")

  let formNum = itemForm.length - 1 // Get the number of the last form on the page with zero-based indexing
  addButton.addEventListener('click', addForm)

  function addForm(e) {
    e.preventDefault()
    let formLength = itemForm.length
    let newForm = itemForm[formLength - 1].cloneNode(true)
    let formRegex = RegExp(`licitacionitem_set-(\\d){1}-`, 'g')

    formNum++ //Increment the form number
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `licitacionitem_set-${formNum}-`) //Update the new form to have the correct form number
    items.insertAdjacentElement("beforeend", newForm) // Insert the new form at the end of the list of forms

    totalForms.setAttribute('value', `${formNum + 1}`) //Increment the number of total forms in the management form
  }
</script>
{% endblock %}
