{% extends 'base.html' %}
{% block content %}
<div class="p-4 mt-14">

<div class="flex flex-wrap justify-between mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center"

    id="licitaciones-tab"
    data-tabs-toggle="#licitaciones-tab-content" role="tablist">
    <li class="me-2">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg
        hover:text-blue-800 hover:border-blue-800" id="all-licitaciones-tab" data-tabs-target="#all-licitaciones-table"
        type="button" role="tab" aria-controls="all-licitaciones" aria-selected="true">Todo</button>
    </li>
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-800 hover:border-blue-800"
        id="open-licitaciones-tab" data-tabs-target="#open-licitaciones-table" type="button" role="tab" aria-controls="open-licitaciones-tab"
        aria-selected="false">Abierta</button>
    </li>
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-800 hover:border-blue-800"
        id="closed-licitaciones-tab" data-tabs-target="#closed-licitaciones-table" type="button" role="tab" aria-controls="closed-licitaciones-tab"
        aria-selected="false">Cerrada</button>
    </li>
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-800 hover:border-blue-800"
        id="finished-licitaciones-tab" data-tabs-target="#finished-licitaciones-table" type="button" role="tab" aria-controls="finished-licitaciones-tab"
        aria-selected="false">Finalizada</button>
    </li>
  </ul>
  <button
    type="button"
    class="flex justify-end text-white mt-5 sm:mt-0 bg-blue-800 hover:bg-blue-100 hover:text-blue-800 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-800 dark:hover:bg-blue-800"
    ><a href="{% url 'create_lic' %}">Nueva Licitacion</a>
  </button>
</div>
<div id="licitaciones-tab-content">
  <div class="hidden p-4 rounded-lg dark:bg-gray-800" id="all-licitaciones-table" role="tabpanel"
    aria-labelledby="all-licitaciones-tab">
    <p>ALL</p>
  </div>
  <div class="hidden p-4 rounded-lg dark:bg-gray-800" id="open-licitaciones-table" role="tabpanel"
  aria-labelledby="open-licitaciones-tab">

    <p>OPEN</p>
  </div>
  <div class="hidden p-4 rounded-lg dark:bg-gray-800" id="closed-licitaciones-table" role="tabpanel"
    aria-labelledby="closed-licitaciones-tab">
    <p>CLOSED</p>

  </div>
  <div class="hidden p-4 rounded-lg dark:bg-gray-800" id="finished-licitaciones-table" role="tabpanel"
    aria-labelledby="finished-licitaciones-tab">
    <p>FINISHED</p>
  </div>
</div>

</div>
{% endblock content %}
